[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
CN = 172.23.136.62

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 172.23.136.62
